.SF-li:hover{
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.01,1.01);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}